<h1 style="color:blue">Data analysis | Netflix</h1>

Netflix is one of the most popular media and video streaming platforms. They have over 8000 movies or tv shows available on their platform, as of mid-2021, they have over 200M Subscribers globally. This tabular dataset consists of listings of all the movies and tv shows available on Netflix, along with details such as - cast, directors, ratings, release year, duration, etc.

##
<h2 style="color:blue">1. Understanding the data</h2>

In this section, I used pandas to explore my dataset, analyzing its characteristics, dimensions, and statistical properties.

    The section includes:
- summary statistics such as mean, median, mode, standard deviation, and quartiles, to understand the central tendency and distribution of the data for numerical columns;
- conclusions based on these summary statistics;
- summary statistics for categorical columns; and
- conclusions based on these statistics.

In [1]:
# Imported libraries necessary for the whole data journey.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
print(pd.__version__)
print(np.__version__)
print(plt.matplotlib.__version__)
print(sns.__version__)

2.2.1
1.26.4
3.8.3
0.13.2

In [3]:
# Loaded the dataset into a dataframe.

netflix_df = pd.read_csv("/Users/milenko/My Drive (1307mile@gmail.com)/bootcamp/w3 project/data/netflix_titles.csv")

# Identified the dimensions of the dataset. It has 8807 rows and 12 columns.

netflix_df.shape

(8807, 12)

In [4]:
# Inspected the dataframe for cleanliness, and identified the content of the columns. The data appears to be clean.

netflix_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

##
<h2 style="color:blue">1.1. Data description</h2>

- "**show_id**" : a sequence of numbers in ascending order, with prefix "s".
- Prefix "s" may mean that the show ID starts with an "s", and a movie ID starts with "m"?

- "**type**" : content-categories, "Movie" and "TV Show".

- "**title**" : name of the content.

- "**director**" : full name of a person who directed the content.

- "**cast**" : full names of some of the stars of the content.

- "**country**" : country or countries where the content was produced.

- "**date_added**" : the date the content was published on Netflix.
Original format of the values in the column are "Month DD, YYYY".

- "**release_year**" : content release year.

- "**rating**" : content rating for the US market; provides information about the appropriate audience of the content.

- "**duration**" : timelength of the content, denoted in minute formats or number of seasons.

- "**listed_in**" : genre/s of the content.

- "**description**" : content-plot.

In [5]:
# Checked the data types of each column. All the types seem appropriate for the nature of the variable.

netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
# Checked for the number of unique values for each column to determine which columns appear to be categorical.

netflix_df.nunique()

show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64

In [7]:
# Divided the columns to categorical and numerical data,
# based on data preview, column-names and content, data type, and number of unique values per column.

numerical_data = ["release_year"]
categorical_data = ["show_id", "type", "title", "director", "cast", "country", "date_added", "rating", "duration", "listed_in", "description"]

##
<h2 style="color:blue">1.2. Numerical data</h2>

Here is statistical summary of the numerical data, which in this case is only 1 column, "release_year".<br>
Of the 8807 titles available on Netflix, average release year is 2014, give or take 9 years.<br>
The oldest title in the library is from 1925, and the most recent one is from 2021, the year of the data collection.

In [8]:
netflix_df[numerical_data].describe().round(0).astype(int)

       release_year
count          8807
mean           2014
std               9
min            1925
25%            2013
50%            2017
75%            2019
max            2021

In [9]:
# Observed the count of unique values. As the statistical summary showed, 75% of the content was released between 2013 and 2019.

netflix_df["release_year"].value_counts()

release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
        ...
1959       1
1925       1
1961       1
1947       1
1966       1
Name: count, Length: 74, dtype: int64

In [10]:
# Observed unique values for "release_year". They look clean and in consistent format YYYY, ready for analysis.

unique_release_years = np.sort(netflix_df["release_year"].unique())
print(unique_release_years)

[1925 1942 1943 1944 1945 1946 1947 1954 1955 1956 1958 1959 1960 1961
 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
 2018 2019 2020 2021]

##
<h2 style="color:blue">1.3. Categorical data</h2>

Statistical summary of the categorical data shows that:
- **count-wise**, 8 columns are well-populated, almost 100%, while 4 columns are missing 10-20% values.
- **unique** count in some columns seems unexpectedly high, such as 748 countries, or 514 genres.
  
- **top** values are as follows:
- Movie is the dominant content **type**, with 6131 entries against 2676 TV Shows.
- Rajiv Chilaka and David Attenborough show as the top single entries in terms of **director**s and **cast**.
- United States is the **country** where relative majority of the content was produced.
- January 1, 2020 was the peak day when 109 movies or tv shows were **added**.
- 1/3 of the content is targetting and restricted to a mature audience, as per its **rating**.
- 20% of the content had **duration** of 1 Season.
- Most frequently the content was **listed_in** or as "Dramas, International Movies".

In [11]:
netflix_df[categorical_data].describe()

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,3207,1793,362,4

In [12]:
# When observing columns such as "country", unique values count feels odd, because we don't have 748 countries in the world, right?
# Let's check the value counts to see what is causing this.

for column in categorical_data:
    value_counts = netflix_df[column].value_counts()
    print(f"Value counts for {column}:\n{value_counts}\n")

Value counts for show_id:
show_id
s1       1
s5875    1
s5869    1
s5870    1
s5871    1
        ..
s2931    1
s2930    1
s2929    1
s2928    1
s8807    1
Name: count, Length: 8807, dtype: int64

Value counts for type:
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

Value counts for title:
title
Dick Johnson Is Dead                     1
Ip Man 2                                 1
Hannibal Buress: Comedy Camisado         1
Turbo FAST                               1
Masha's Tales                            1
                                        ..
Love for Sale 2                          1
ROAD TO ROMA                             1
Good Time                                1
Captain Underpants Epic Choice-o-Rama    1
Zubaan                                   1
Name: count, Length: 8807, dtype: int64

Value counts for director:
director
Rajiv Chilaka                     19
Raúl Campos, Jan Suter            18
Marcus Raboy                      16
Suhas Kadav                       16
Jay Karas                         14
                                  ..
Raymie Muzquiz, Stu Livingston     1
Joe Menendez                       1
Eric Bross                         1
Will Eisenberg                     1
Mozez Singh                        1
Name: count, Length: 4528, dtype: int64

Value counts for cast:
cast
David Attenborough                                                                                                                                                                            19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                                                                                       14
Samuel West                                                                                                                                                                                   10
Jeff Dunham                                                                                                                                                                                    7
David Spade, London Hughes, Fortune Feimster                                                                                                                                                   6
                                                                                                                                                                                              ..
Michael Peña, Diego Luna, Tenoch Huerta, Joaquin Cosio, José María Yazpik, Matt Letscher, Alyssa Diaz                                                                                          1
Nick Lachey, Vanessa Lachey                                                                                                                                                                    1
Takeru Sato, Kasumi Arimura, Haru, Kentaro Sakaguchi, Takayuki Yamada, Kendo Kobayashi, Ken Yasuda, Arata Furuta, Suzuki Matsuo, Koichi Yamadera, Arata Iura, Chikako Kaku, Kotaro Yoshida     1
Toyin Abraham, Sambasa Nzeribe, Chioma Chukwuka Akpotha, Chioma Omeruah, Chiwetalu Agu, Dele Odule, Femi Adebayo, Bayray McNwizu, Biodun Stephen                                               1
Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy                                                          1
Name: count, Length: 7692, dtype: int64

Value counts for country:
country
United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: count, Length: 748, dtype: int64

Value counts for date_added:
date_added
January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
                    ...
December 4, 2016       1
November 21, 2016      1
November 19, 2016      1
November 17, 2016      1
January 11, 2020       1
Name: count, Length: 1767, dtype: int64

Value counts for rating:
rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

Value counts for duration:
duration
1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
94 min        146
             ...
16 min          1
186 min         1
193 min         1
189 min         1
191 min         1
Name: count, Length: 220, dtype: int64

Value counts for listed_in:
listed_in
Dramas, International Movies                          362
Documentaries                                         359
Stand-Up Comedy                                       334
Comedies, Dramas, International Movies                274
Dramas, Independent Movies, International Movies      252
                                                     ...
Kids' TV, TV Action & Adventure, TV Dramas              1
TV Comedies, TV Dramas, TV Horror                       1
Children & Family Movies, Comedies, LGBTQ Movies        1
Kids' TV, Spanish-Language TV Shows, Teen TV Shows      1
Cult Movies, Dramas, Thrillers                          1
Name: count, Length: 514, dtype: int64

Value counts for description:
description
Paranormal activity at a lush, abandoned property alarms a group eager to redevelop the site, but the eerie events may not be as unearthly as they think.    4
Challenged to compose 100 songs before he can marry the girl he loves, a tortured but passionate singer-songwriter embarks on a poignant musical journey.    3
A surly septuagenarian gets another chance at her 20s after having her photo snapped at a studio that magically takes 50 years off her life.                 3
Multiple women report their husbands as missing but when it appears they are looking for the same man, a police officer traces their cryptic connection.     3
Secrets bubble to the surface after a sensual encounter and an unforeseen crime entangle two friends and a woman caught between them.                        2
                                                                                                                                                            ..
Sent away to evade an arranged marriage, a 14-year-old begins a harrowing journey of sex work and poverty in the slums of Accra.                             1
When his partner in crime goes missing, a small-time crook’s life is transformed as he dedicates himself to raising the daughter his friend left behind.     1
During 1962’s Cuban missile crisis, a troubled math genius finds himself drafted to play in a U.S.-Soviet chess match – and a deadly game of espionage.      1
A teen's discovery of a vintage Polaroid camera develops into a darker tale when she finds that whoever takes their photo with it dies soon afterward.       1
A scrappy but poor boy worms his way into a tycoon's dysfunctional family, while facing his fear of music and the truth about his past.                      1
Name: count, Length: 8775, dtype: int64

The high count of unique values is caused by multiple entries per field. Let's explain it on the example of countries:
- content produced in the United States generates one unique value for the column "country";
- co-production between the US and, say, France, generates its own unique value "United States, France" for the column "country".
  
So, while half of the content is produced by only 4 countries, it's the co-productions, co-directed content, and other joint efforts that possibly inflate some columns, and this will need to be parsed.

In [13]:
# While looking for the cause of inflated number of unique values, I also spotted leading whitespace in some values.
# Hint: ', France, Algeria' in "country", and ' April 15, 2018' in "date_added". So, it's time to start cleaning this data.

for column in categorical_data:
    unique = np.sort(netflix_df[column].astype(str).unique())
    print(f"Unique values for {column}:\n{unique}\n")

Unique values for show_id:
['s1' 's10' 's100' ... 's997' 's998' 's999']

Unique values for type:
['Movie' 'TV Show']

Unique values for title:
['#Alive' '#AnneFrank - Parallel Stories' '#FriendButMarried' ... '마녀사냥'
 '반드시 잡는다' '최강전사 미니특공대 : 영웅의 탄생']

Unique values for director:
['A. L. Vijay' 'A. Raajdheep' 'A. Salaam' ... 'Óskar Thór Axelsson'
 'Ömer Faruk Sorak' 'Şenol Sönmez']

Unique values for cast:
["'Najite Dede, Jude Chukwuka, Taiwo Arimoro, Odenike Odetola, Funmi Eko, Keppy Ekpenyong"
 '4Minute, B1A4, BtoB, ELSIE, EXID, EXO, Got7, INFINITE, KARA, Shinee, Sistar, VIXX, Nine Muses, BTS, Secret, Topp Dogg'
 '50 Cent, Ryan Phillippe, Bruce Willis, Rory Markham, Jenna Dewan, Brett Granstaff, Randy Couture, Susie Abromeit, Ron Turner, James Remar'
 ...
 'Şahin Irmak, İrem Sak, Gonca Vuslateri, Emre Karayel, Duygu Yetiş, Onur Buldu, Salih Kalyon, Bilge Şen, Nilgün Belgün, Hakan Akın'
 'Şükrü Özyıldız, Aslı Enver, Şenay Gürler, Başak Parlak, Mahir Günşiray, Hakan Boyav, Hakan Gerçek, Berrak Kuş, Gamze Süner Atay, Mehmet Esen'
 'Ṣọpẹ́ Dìrísù, Wunmi Mosaku, Matt Smith, Malaika Wakoli-Abigaba']

Unique values for country:
[', France, Algeria' ', South Korea' 'Argentina'
 'Argentina, Brazil, France, Poland, Germany, Denmark' 'Argentina, Chile'
 'Argentina, Chile, Peru' 'Argentina, France'
 'Argentina, France, United States, Germany, Qatar' 'Argentina, Italy'
 'Argentina, Spain' 'Argentina, United States'
 'Argentina, United States, Mexico' 'Argentina, Uruguay, Serbia'
 'Argentina, Uruguay, Spain, France' 'Argentina, Venezuela' 'Australia'
 'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay'
 'Australia, Canada' 'Australia, France' 'Australia, France, Ireland'
 'Australia, Germany' 'Australia, India' 'Australia, Iraq'
 'Australia, New Zealand' 'Australia, New Zealand, United States'
 'Australia, United Arab Emirates' 'Australia, United Kingdom'
 'Australia, United Kingdom, Canada'
 'Australia, United Kingdom, United Arab Emirates, Canada'
 'Australia, United Kingdom, United States, New Zealand, Italy, France'
 'Australia, United States' 'Austria' 'Austria, Czech Republic'
 'Austria, Germany' 'Austria, Iraq, United States'
 'Austria, United States' 'Bangladesh' 'Belarus' 'Belgium'
 'Belgium, France' 'Belgium, France, Netherlands'
 'Belgium, Ireland, Netherlands, Germany, Afghanistan'
 'Belgium, Netherlands' 'Belgium, United Kingdom'
 'Belgium, United Kingdom, United States' 'Brazil' 'Brazil, France'
 'Brazil, France, Germany' 'Brazil, India, China, United States'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'Brazil, United Kingdom' 'Brazil, United States' 'Bulgaria'
 'Bulgaria, United States' 'Bulgaria, United States, Spain, Canada'
 'Cambodia' 'Cambodia, United States' 'Cameroon' 'Canada'
 'Canada, Australia' 'Canada, Belgium' 'Canada, Brazil' 'Canada, France'
 'Canada, France, Italy, Morocco, United States'
 'Canada, France, United States' 'Canada, Germany'
 'Canada, Germany, France, United States' 'Canada, Germany, South Africa'
 'Canada, Hungary, United States' 'Canada, India'
 'Canada, India, Thailand, United States, United Arab Emirates'
 'Canada, Ireland, United States' 'Canada, Japan, Netherlands'
 'Canada, Japan, United States' 'Canada, Luxembourg'
 'Canada, Mexico, Germany, South Africa' 'Canada, Nigeria'
 'Canada, Nigeria, United States' 'Canada, Norway' 'Canada, South Africa'
 'Canada, South Korea, United States' 'Canada, Spain'
 'Canada, Spain, France' 'Canada, United Kingdom'
 'Canada, United Kingdom, Netherlands'
 'Canada, United Kingdom, United States' 'Canada, United States'
 'Canada, United States, Cayman Islands' 'Canada, United States, Denmark'
 'Canada, United States, France' 'Canada, United States, Germany'
 'Canada, United States, India, United Kingdom'
 'Canada, United States, Ireland' 'Canada, United States, Mexico'
 'Canada, United States, United Kingdom'
 'Canada, United States, United Kingdom, France, Luxembourg' 'Chile'
 'Chile, Argentina' 'Chile, Argentina, France, Spain, United States'
 'Chile, Brazil' 'Chile, France' 'Chile, Italy' 'Chile, Peru'
 'Chile, Spain, Argentina, Germany' 'Chile, United States, France' 'China'
 'China, Canada, United States' 'China, Germany, India, United States'
 'China, Hong Kong' 'China, Hong Kong, United States'
 'China, India, Nepal' 'China, Japan' 'China, Morocco, Hong Kong'
 'China, South Korea, United States'
 'China, Spain, South Korea, United States' 'China, Taiwan'
 'China, United Kingdom' 'China, United States'
 'China, United States, Australia' 'China, United States, Canada'
 'China, United States, United Kingdom' 'Colombia' 'Colombia, Mexico'
 'Colombia, Mexico, United States' 'Colombia, Peru, United Kingdom'
 'Colombia, United States' 'Croatia'
 'Croatia, Slovenia, Serbia, Montenegro' 'Cyprus' 'Czech Republic, France'
 'Czech Republic, Slovakia' 'Czech Republic, United Kingdom, France'
 'Czech Republic, United Kingdom, United States'
 'Czech Republic, United States' 'Denmark'
 'Denmark, Brazil, France, Portugal, Sweden' 'Denmark, China'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'Denmark, France, Poland' 'Denmark, France, United States, Sweden'
 'Denmark, Germany, Belgium, United Kingdom, France'
 'Denmark, Germany, Belgium, United Kingdom, France, Sweden'
 'Denmark, Indonesia, Finland, Norway, United Kingdom, Israel, France, United States, Germany, Netherlands'
 'Denmark, Singapore, Canada, United States' 'Denmark, Spain'
 'Denmark, Sweden, Israel, United States'
 'Denmark, United Kingdom, South Africa, Sweden, Belgium'
 'Denmark, United Kingdom, Sweden' 'Denmark, United States'
 'Denmark, Zimbabwe' 'Egypt' 'Egypt, Algeria'
 'Egypt, Austria, United States' 'Egypt, Denmark, Germany' 'Egypt, France'
 'Egypt, Saudi Arabia' 'Finland' 'Finland, France' 'Finland, Germany'
 'Finland, Germany, Belgium' 'Finland, Sweden, Norway, Latvia, Germany'
 'Finland, United States' 'France' 'France, Algeria'
 'France, Australia, Germany' 'France, Belgium'
 'France, Belgium, China, United States' 'France, Belgium, Italy'
 'France, Belgium, Luxembourg, Cambodia,'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'France, Belgium, Spain' 'France, Belgium, United States'
 'France, Brazil, Spain, Belgium' 'France, Canada'
 'France, Canada, Belgium' 'France, Canada, China, Cambodia'
 'France, Canada, Italy, United States, China'
 'France, Canada, United States' 'France, Canada, United States, Spain'
 'France, China, Japan, United States' 'France, Egypt' 'France, Germany'
 'France, Germany, Czech Republic, Belgium' 'France, Germany, Switzerland'
 'France, Iran, United States'
 'France, Israel, Germany, United States, United Kingdom' 'France, Japan'
 'France, Japan, United States' 'France, Lebanon'
 'France, Lebanon, United Kingdom' 'France, Luxembourg, Canada'
 'France, Luxembourg, United States' 'France, Malta, United States'
 'France, Morocco' 'France, Netherlands, Singapore'
 'France, Netherlands, South Africa, Finland' 'France, New Zealand'
 'France, Norway, Lebanon, Belgium' 'France, Qatar'
 'France, Senegal, Belgium' 'France, South Korea, Japan'
 'France, South Korea, Japan, United States'
 'France, Switzerland, Spain, United States, United Arab Emirates'
 'France, United Kingdom' 'France, United Kingdom, India'
 'France, United Kingdom, United States' 'France, United States'
 'France, United States, Canada' 'France, United States, Mexico'
 'France, United States, United Kingdom, Canada' 'Georgia'
 'Georgia, Germany, France' 'Germany' 'Germany, Australia'
 'Germany, Australia, France, China' 'Germany, Belgium'
 'Germany, Canada, United States' 'Germany, China, United Kingdom'
 'Germany, Czech Republic' 'Germany, France'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'Germany, France, Russia'
 'Germany, France, United States, Canada, United Kingdom' 'Germany, Italy'
 'Germany, Jordan, Netherlands' 'Germany, Sri Lanka'
 'Germany, United Kingdom' 'Germany, United Kingdom, United States'
 'Germany, United States' 'Germany, United States, Canada'
 'Germany, United States, France'
 'Germany, United States, Hong Kong, Singapore'
 'Germany, United States, Italy' 'Germany, United States, Sweden'
 'Germany, United States, United Kingdom, Canada' 'Ghana'
 'Ghana, United States' 'Greece, United States' 'Guatemala' 'Hong Kong'
 'Hong Kong, Canada, United States' 'Hong Kong, China'
 'Hong Kong, China, Singapore' 'Hong Kong, China, United States'
 'Hong Kong, Iceland, United States' 'Hong Kong, Taiwan'
 'Hong Kong, United States' 'Hungary' 'Hungary, United States' 'Iceland'
 'Iceland, Sweden, Belgium' 'India' 'India, Australia' 'India, Canada'
 'India, France' 'India, Germany' 'India, Germany, Austria'
 'India, Germany, France' 'India, Iran' 'India, Japan' 'India, Malaysia'
 'India, Mexico' 'India, Nepal' 'India, Pakistan' 'India, Soviet Union'
 'India, Switzerland' 'India, Turkey' 'India, United Kingdom'
 'India, United Kingdom, Canada, United States'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'India, United Kingdom, France, Qatar' 'India, United States' 'Indonesia'
 'Indonesia, Netherlands' 'Indonesia, Singapore'
 'Indonesia, South Korea, Singapore' 'Indonesia, United Kingdom'
 'Indonesia, United States' 'Iran, France' 'Ireland' 'Ireland, Canada'
 'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India'
 'Ireland, Canada, United Kingdom, United States'
 'Ireland, Canada, United States, United Kingdom'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Ireland, Luxembourg, Belgium' 'Ireland, South Africa'
 'Ireland, Switzerland, United Kingdom, France, United States'
 'Ireland, United Kingdom' 'Ireland, United Kingdom, France, Germany'
 'Ireland, United Kingdom, Greece, France, Netherlands'
 'Ireland, United Kingdom, Italy, United States'
 'Ireland, United Kingdom, United States' 'Ireland, United States'
 'Ireland, United States, France' 'Ireland, United States, United Kingdom'
 'Israel' 'Israel, Germany' 'Israel, Germany, France'
 'Israel, Germany, Poland, Luxembourg, Belgium, France, United States'
 'Israel, Sweden, Germany, Netherlands' 'Israel, United States' 'Italy'
 'Italy, Belgium' 'Italy, Brazil, Greece' 'Italy, Canada, France'
 'Italy, France' 'Italy, France, Switzerland' 'Italy, Germany'
 'Italy, India'
 'Italy, South Africa, West Germany, Australia, United States'
 'Italy, Switzerland, Albania, Poland'
 'Italy, Switzerland, France, Germany' 'Italy, Turkey'
 'Italy, United Kingdom' 'Italy, United Kingdom, France'
 'Italy, United States' 'Italy, United States, Argentina'
 'Jamaica, United States' 'Japan' 'Japan, Canada'
 'Japan, Canada, United States' 'Japan, United States' 'Jordan' 'Kenya'
 'Kenya, United States' 'Kuwait' 'Kuwait, United States' 'Lebanon'
 'Lebanon, Canada, France' 'Lebanon, France'
 'Lebanon, Palestine, Denmark, Qatar' 'Lebanon, Qatar' 'Lebanon, Syria'
 'Lebanon, United Arab Emirates'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'Lebanon, United States, United Arab Emirates' 'Luxembourg' 'Malaysia'
 'Malaysia, Singapore, Hong Kong' 'Mauritius' 'Mauritius, South Africa'
 'Mexico' 'Mexico, Argentina' 'Mexico, Brazil' 'Mexico, Finland'
 'Mexico, France' 'Mexico, France, Colombia' 'Mexico, Netherlands'
 'Mexico, Spain' 'Mexico, United States'
 'Mexico, United States, Spain, Colombia' 'Mozambique' 'Namibia'
 'Netherlands' 'Netherlands, Belgium'
 'Netherlands, Belgium, Germany, Jordan'
 'Netherlands, Belgium, United Kingdom, United States'
 'Netherlands, Denmark, France, Germany'
 'Netherlands, Denmark, South Africa'
 'Netherlands, Germany, Denmark, United Kingdom'
 'Netherlands, Germany, Italy, Canada' 'Netherlands, United States'
 'New Zealand' 'New Zealand, Australia, France, United States'
 'New Zealand, United Kingdom' 'New Zealand, United Kingdom, Australia'
 'New Zealand, United States' 'Nigeria' 'Nigeria, United Kingdom' 'Norway'
 'Norway, Denmark' 'Norway, Denmark, Netherlands, Sweden'
 'Norway, Denmark, Sweden' 'Norway, Germany' 'Norway, Germany, Sweden'
 'Norway, Iceland, United States' 'Norway, Sweden'
 'Norway, United Kingdom, France, Ireland' 'Norway, United States'
 'Pakistan' 'Pakistan, Norway, United States'
 'Pakistan, United Arab Emirates' 'Pakistan, United States'
 'Paraguay, Argentina' 'Peru' 'Peru, Germany, Norway'
 'Peru, United States, United Kingdom' 'Philippines'
 'Philippines, Canada, United Kingdom, United States' 'Philippines, Qatar'
 'Philippines, Singapore' 'Philippines, Singapore, Indonesia'
 'Philippines, United States' 'Poland' 'Poland,' 'Poland, United States'
 'Poland, West Germany' 'Portugal, France, Poland, United States'
 'Portugal, Spain' 'Portugal, United States'
 'Puerto Rico, United States, Colombia' 'Romania'
 'Romania, Bulgaria, Hungary' 'Romania, France, Switzerland, Germany'
 'Romania, United Kingdom' 'Romania, United States' 'Russia'
 'Russia, Poland, Serbia' 'Russia, Spain' 'Russia, United States'
 'Russia, United States, China' 'Saudi Arabia'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait'
 'Saudi Arabia, United Arab Emirates' 'Senegal'
 'Serbia, South Korea, Slovenia' 'Serbia, United States' 'Singapore'
 'Singapore, France' 'Singapore, Japan, France' 'Singapore, Malaysia'
 'Singapore, United States'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'Somalia, Kenya, Sudan, South Africa, United States' 'South Africa'
 'South Africa, Angola' 'South Africa, China, United States'
 'South Africa, Germany, Netherlands, France' 'South Africa, Nigeria'
 'South Africa, United States' 'South Africa, United States, Germany'
 'South Africa, United States, Japan'
 'South Africa, United States, New Zealand, Canada' 'South Korea'
 'South Korea, Canada, United States, China' 'South Korea, China'
 'South Korea, China, United States' 'South Korea, Czech Republic'
 'South Korea, France' 'South Korea, Japan' 'South Korea, United States'
 'Soviet Union, India' 'Spain' 'Spain, Argentina' 'Spain, Belgium'
 'Spain, Belgium, United States' 'Spain, Canada, United States'
 'Spain, Colombia' 'Spain, Cuba' 'Spain, France' 'Spain, France, Canada'
 'Spain, France, Canada, United States' 'Spain, France, Italy'
 'Spain, France, United Kingdom, United States'
 'Spain, France, United States' 'Spain, France, Uruguay' 'Spain, Germany'
 'Spain, Germany, Denmark, United States' 'Spain, Italy'
 'Spain, Italy, Argentina' 'Spain, Mexico' 'Spain, Mexico, France'
 'Spain, Portugal' 'Spain, Switzerland' 'Spain, Thailand, United States'
 'Spain, United Kingdom' 'Spain, United Kingdom, United States'
 'Spain, United States' 'Sweden'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands'
 'Sweden, Netherlands' 'Sweden, United Kingdom, Finland'
 'Sweden, United States' 'Switzerland' 'Switzerland, France'
 'Switzerland, France, Belgium, United States'
 'Switzerland, United Kingdom, Australia'
 'Switzerland, United Kingdom, United States' 'Switzerland, United States'
 'Switzerland, Vatican City, Italy, Germany, France'
 'Syria, France, Lebanon, Qatar' 'Taiwan' 'Taiwan, China'
 'Taiwan, China, France, United States'
 'Taiwan, Hong Kong, United States, China' 'Taiwan, Malaysia' 'Thailand'
 'Thailand, Canada, United States' 'Thailand, China, United States'
 'Thailand, United States' 'Turkey' 'Turkey, Azerbaijan'
 'Turkey, France, Germany, Poland' 'Turkey, India' 'Turkey, South Korea'
 'Turkey, United States' 'Ukraine' 'United Arab Emirates'
 'United Arab Emirates, Jordan'
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia'
 'United Arab Emirates, Romania'
 'United Arab Emirates, United Kingdom, India'
 'United Arab Emirates, United States'
 'United Arab Emirates, United States, United Kingdom' 'United Kingdom'
 'United Kingdom,' 'United Kingdom, Australia'
 'United Kingdom, Australia, Canada, United States'
 'United Kingdom, Australia, France'
 'United Kingdom, Australia, France, United States'
 'United Kingdom, Australia, United States' 'United Kingdom, Belgium'
 'United Kingdom, Belgium, Sweden' 'United Kingdom, Brazil, Germany'
 'United Kingdom, Canada' 'United Kingdom, Canada, France, United States'
 'United Kingdom, Canada, Italy' 'United Kingdom, Canada, Japan'
 'United Kingdom, Canada, United States'
 'United Kingdom, Canada, United States, Cayman Islands'
 'United Kingdom, Canada, United States, Germany' 'United Kingdom, China'
 'United Kingdom, China, United States'
 'United Kingdom, China, United States, India'
 'United Kingdom, Czech Republic, Germany, United States'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'United Kingdom, Denmark, Canada, Croatia'
 'United Kingdom, Egypt, United States'
 'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland'
 'United Kingdom, France' 'United Kingdom, France, Belgium'
 'United Kingdom, France, Belgium, Canada, United States'
 'United Kingdom, France, Belgium, Ireland, United States'
 'United Kingdom, France, Belgium, United States'
 'United Kingdom, France, Canada, Belgium, United States'
 'United Kingdom, France, Germany'
 'United Kingdom, France, Germany, Spain'
 'United Kingdom, France, Germany, United States'
 'United Kingdom, France, Poland, Germany, United States'
 'United Kingdom, France, Spain, United States'
 'United Kingdom, France, United States'
 'United Kingdom, France, United States, Belgium'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'United Kingdom, Germany' 'United Kingdom, Germany, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United Kingdom, Germany, France, United States'
 'United Kingdom, Germany, Spain, United States'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'United Kingdom, Germany, United States'
 'United Kingdom, Germany, United States, France'
 'United Kingdom, Hong Kong' 'United Kingdom, Hungary, Australia'
 'United Kingdom, India' 'United Kingdom, India, Sweden'
 'United Kingdom, India, United States' 'United Kingdom, Ireland'
 'United Kingdom, Ireland, United States' 'United Kingdom, Israel, Russia'
 'United Kingdom, Italy'
 'United Kingdom, Italy, Israel, Peru, United States'
 'United Kingdom, Japan' 'United Kingdom, Japan, United States'
 'United Kingdom, Jordan, Qatar, Iran' 'United Kingdom, Kenya'
 'United Kingdom, Lithuania' 'United Kingdom, Malawi'
 'United Kingdom, Namibia, South Africa, Zimbabwe, United States'
 'United Kingdom, New Zealand' 'United Kingdom, Nigeria'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'United Kingdom, Pakistan' 'United Kingdom, Poland'
 'United Kingdom, Poland, United States' 'United Kingdom, Russia'
 'United Kingdom, Russia, United States' 'United Kingdom, Singapore'
 'United Kingdom, South Africa'
 'United Kingdom, South Africa, Australia, United States'
 'United Kingdom, South Africa, France' 'United Kingdom, South Korea'
 'United Kingdom, Spain' 'United Kingdom, Spain, Belgium'
 'United Kingdom, Spain, United States'
 'United Kingdom, Spain, United States, Germany'
 'United Kingdom, Thailand' 'United Kingdom, Ukraine, United States'
 'United Kingdom, United States'
 'United Kingdom, United States, Australia'
 'United Kingdom, United States, Canada'
 'United Kingdom, United States, Czech Republic'
 'United Kingdom, United States, Dominican Republic'
 'United Kingdom, United States, France'
 'United Kingdom, United States, France, Germany'
 'United Kingdom, United States, France, Italy'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'United Kingdom, United States, Ireland'
 'United Kingdom, United States, Japan'
 'United Kingdom, United States, Morocco'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'United Kingdom, West Germany' 'United States' 'United States,'
 'United States, Argentina' 'United States, Australia'
 'United States, Australia, China' 'United States, Australia, Mexico'

##
<h2 style="color:blue">2. Data cleaning and formatting</h2>

What happens in this section:
- cleaning data:
  - dealing with null values,
  - duplicates,
  - redundant or useless info, and
- formatting.

In [14]:
# Checked for null values. They are concentrated in 3 columns: "director", "cast", and "country".
# Filled the null values with "unknown" string.

netflix_df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [15]:
#netflix_df = netflix_df.fillna("unknown")
netflix_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [16]:
# Checked if any entry in the column "show_id" starts with a letter other than "s". There is no other prefix.

any_other_letter = netflix_df.show_id[netflix_df.show_id.str[0].str.lower() != 's']
print(any_other_letter)

Series([], Name: show_id, dtype: object)

In [17]:
# Removed the column "show_id". It's redundant with the default index.

netflix_df =

SyntaxError: invalid syntax (3877044300.py, line 3)

Used many data cleaning techniques including handling null values, duplicates, dropping unnecessary columns, manipulating strings, and formatting data
• Addressed missing data properly, fully justified the imputation strategy

In [ ]:
# Changed "date_added" column to datatype more inappropriate for calculations, and corrected its mixed format.

netflix_df.date_added = pd.to_datetime(netflix_df.date_added, format="mixed")

netflix_df.info()
netflix_df

In [ ]:
clean whitespace

In [ ]:
comma delimiter for grouped values